.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
        background-color: #eaeaea;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
        cursor: pointer;
        opacity: 0.9;
        border-color: #bbb;

}